<h2>Комментарии</h2>
<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <h3><%= comment.sender_id %></h3>
    <p><%= comment.body %></p>
    <!-- Отображение других атрибутов комментария, если необходимо -->
  <% end %>
<% else %>
  <p>Нет комментариев для этого поста.</p>
<% end %>
