<h1>Комментарии к посту "<%= @post.title %>"</h1>
<% @comments.each do |comment| %>
  <h2><%= comment.sender_id %></h2>
  <p><%= comment.body %></p>
  <!-- Отображение других атрибутов комментария, если необходимо -->
<% end %>
